.khan__buy-link {
  align-self: flex-start;
  color: #2f80ed;
  margin: 0;
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

.khan__buy-link::after {
  content: "\2192";
}

.khan__buy-link:hover {
  opacity:0.3;
}
